.main {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding: 15px;
}

.main > * {
  margin: 5px 0;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 25px 1fr 25px 2fr;
  grid-gap: 15px;
  background: white;
  justify-content: center;
}

.contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  background: white;
  margin-bottom: 25px;
}

.customer-success,
.application-developer {
  text-align: center;
  min-height: 140px;
}

.customer-success,
.application-developer > p {
  background: #fafaf9;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
}

.company-name {
  cursor: pointer;
}

.mid-section-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.no-data-wrapper {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text,
.sub-text {
  margin-top: 0;
  font-size: 12px;
  margin-left: 4px;
}

.main-text {
  color: #3e3e3b;
}

.sub-text {
  color: #080707;
}

[data-class="checkbox-wrapper"].THIS .slds-form-element__control {
  background: purple !important;
}

.checkbox-wrapper {
  display: grid;
  white-space: nowrap;
  grid-template-columns: repeat(4, 1fr);
}
